body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8cf3314c-0323-479b-86bb-b943e10e9a35/da5ugsn-bedac5b1-6693-4806-931b-834e1b08e4de.jpg/v1/fill/w_1024,h_640,q_75,strp/jurassic_world_tyrannosaurus_rex_wallpaper_by_gamucha_da5ugsn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvOGNmMzMxNGMtMDMyMy00NzliLTg2YmItYjk0M2UxMGU5YTM1XC9kYTV1Z3NuLWJlZGFjNWIxLTY2OTMtNDgwNi05MzFiLTgzNGUxYjA4ZTRkZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-1xIJ7vcpyvbwhBbOfM7hwPDzAAA9bPiT6X6xtj-w_g);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #002000;
  background-attachment: fixed;
}

#game {
  width: 600px;
  height: 350px;
  background-color: hsla(0, 100%, 100%, 0.8);
  border: 1px solid black;
  margin: auto;
}
#game hr {
  width: 598px;
  position: absolute;
  margin-top: 250px;
}

#scoreBoardTitle {
  width: 600px;
  height: 100px;
  background-color: rgba(27, 35, 78, 0.8);
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
}

.hide {
  display: none;
}
.deploy {
  display: block;
  animation: deploy 2s linear;
}
.show {
  display: block;
  width: auto;
}
.retract {
  display: block;
  animation: retract 2s linear;
}
@keyframes deploy {
  0% {
    height: 0%;
  }
  100% {
    height: auto;
  }
}
@keyframes retract {
  0% {
    height: auto;
  }
  100% {
    height: 0%;
  }
}

#scoreBoard {
  width: 600px;
  height: 800px;
  background-color: hsla(0, 100%, 100%, 0.8);
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  margin: auto;
}
#scoreBoard > div > div {
  border: black solid 1px;
  position: relative;
  float: left;
}
#name {
  width: 200px;
}
#score {
  width: 394px;
}

#switch {
  width: 600px;
  height: 50px;
  background-color: hsla(0, 100%, 100%, 0.8);
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  margin: auto;
}
#switch button, #switch p {
  position: relative;
  float: left;
  width: 200px;
}
#switch button {
  margin-top: 20px;
}

#points {
  color: black;
  font-size: 30px;
  width: 100px;
  position: absolute;
}

/* +++++++++++DINO++++++++++++++ */
#dino {
  width: 75px;
  height: 75px;
  background-image: url(img/trex.png);
  background-size: 75px 75px;
  position: absolute;
  top: 200px;
}

.jump {
  animation: jump 1s linear;
}

@keyframes jump {
  0% {
    top: 200px;
  }

  20% {
    top: 130px;
  }

  40% {
    top: 100px;
  }

  50% {
    top: 90px;
  }

  60% {
    top: 100px;
  }

  100% {
    top: 200px;
  }
}

.mobs {
  width: 600px;
  height: 30px;
  position: absolute;
}

/*       *****CACTUS****        */
.moveCactus {
  width: 30px;
  height: 60px;
  position: absolute;
  top: 200px;
  left: 100%;

  background-image: url("img/cactus.png");
  background-size: 30px 60px;
  animation: animCactus 3s linear;
}

@keyframes animCactus {
  0% {
    left: 100%;
    opacity: 100%;
  }

  98% {
    opacity: 100%;
  }

  99% {
    opacity: 0%;
  }

  100% {
    left: -20px;
    opacity: 0%;
  }
}

/*       *****CACTUS****        */

/*      -----PTERO-----       */
.Ptero {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 550px;

  background-image: url("img/ptero.png");
  background-size: 60px 30px;
}
.fly {
  animation: animPtero 4s linear;
}
.flySlow {
  animation: animPtero 6s linear;
}
.flyFast {
  animation: animPtero 2s linear;
}

@keyframes animPtero {
  0% {
    left: 550px;
    opacity: 100%;
    top: 0px;
  }

  25% {
    top: 100px;
  }

  50% {
    top: 50px;
  }

  75% {
    top: 100px;
  }

  97% {
    opacity: 100%;
  }

  99% {
    opacity: 0%;
    top: 50px;
  }

  100% {
    left: -10px;
    opacity: 0%;
  }
}

/*      -----PTERO-----       */
