body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8cf3314c-0323-479b-86bb-b943e10e9a35/da5ugsn-bedac5b1-6693-4806-931b-834e1b08e4de.jpg/v1/fill/w_1024,h_640,q_75,strp/jurassic_world_tyrannosaurus_rex_wallpaper_by_gamucha_da5ugsn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvOGNmMzMxNGMtMDMyMy00NzliLTg2YmItYjk0M2UxMGU5YTM1XC9kYTV1Z3NuLWJlZGFjNWIxLTY2OTMtNDgwNi05MzFiLTgzNGUxYjA4ZTRkZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-1xIJ7vcpyvbwhBbOfM7hwPDzAAA9bPiT6X6xtj-w_g);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #002000;
}

#game {
  width: 600px;
  height: 350px;
  background-color: hsla(0, 100%, 100%, 0.8);
  border: 1px solid black;
  margin: auto;
}

#dino {
  width: 100px;
  height: 100px;
  background-image: url(img/trex.png);
  background-size: 100px 100px;
  position: relative;
  top: 200px;
}

.jump {
  animation: jump 1s linear;
}

@keyframes jump {
  0% {
    top: 200px;
  }

    20% {
    top: 130px;
  }

  50% {
    top: 70px;
  }

  60% {
    top: 100px;
  }

  100% {
    top: 200px;
  }
}

#cactus {
  width: 30px;
  height: 60px;
  position: relative;
  top: 140px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 30px 60px;
}

.moveCactus {
  animation: block 3s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
    opacity: 100%;
  }

  98% {
    opacity: 100%;
  }

  99% {
    opacity: 0%;
  }

  100% {
    left: -20px;
    opacity: 0%;
  }
}
